<html>
<div id="main">

      <section id="one">
        <header class="major">
          <h2>Mi perfil</h2>
        </header>
        <p>Tengo muchas ganas como persona, tanto en conocimientos como en ampliar mi experiencia profesional.
            Aficionado a la experimentación en informática, comprometido con el trabajo y con ganas de trabajar.</p>
      </section>

      <section id="two">
        <h2>Experiencia</h2>
        <div class="row">
          <article class="col-6 col-12-xsmall work-item">
            <a href="images/MM.jpg" class="image fit thumb"><img src="images/MM.jpg" alt="" /></a>
            <h3>Media Markt (2016 - actualmente)</h3>
            <p>Devoluciones al proveedor y tramitación de reparaciones en garantía (documentación, albaranes, presupuestos...)</p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="images/W.png" class="image fit thumb"><img src="images/W.png" alt="" /></a>
            <h3>Worten (2013 -2016)</h3>
            <p>Experiencia en postventa, ventas, financiación y almacén.</p>
          </article>
        </div>

      </section>

      <section id="three">
          <h2>Educación</h2>
            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                  <a href="images/edib.jpg" class="image fit thumb"><img src="images/edib.jpg" alt="" /></a>
                  <h3>CFGS - Desarrollo de aplicaciones multiplataforma</h3>
                  <p>Edib (Palma 2017 - actualmente)</p>
                  
                </article>
              </div>
        </section>

        <section id="four">
            <h2>Conocimientos</h2>
              <div class="row">
                  <li>Ofimática: Microsoft Office, Google Docs, Open Office.</li><h3 class="icon fa-file"><span class="label"></span></h3>
                  <li>Hardware PC: Ampliaciones, Montajes, Overclocking, Detección de averías, reparaciones.</li><h3 class="icon fa-laptop"><span class="label"></span></h3>
                  <li>Conexión de redes de ordenadores, Protocolo TCP/IP, Internet, Conexiones remotas.</li><h3 class="icon fa-wifi"><span class="label"></span></h3>
                  <li>Conocimientos de programación (Java, XML, C, SQL)</li><h3 class="icon fa-code"><span class="label"></span></h3>
                  <li>Conocimientos de creación y edición de páginas WEB (HTML, CSS, Angular)</li><h3 class="icon fa-code"><span class="label"></span></h3>
                  <li>Diseño y edición de Fotografías con Gimp y video con Cyberlink power director, Final Cut Pro</li><h3 class="icon fa-film"><span class="label"></span></h3>
                  <li>Conocimiento en SO Microsoft Windows, Mac OS y Linux.</li> <h3 class="icon fa-apple"><span class="label"></span></h3>
                 </div>
          </section>

          <section id="five">
              <h2>Idiomas</h2>
                <div>
                  <li>Castellano</li><div class="row"><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3></div>
                  
                  <li>Catalán</li><div class="row"><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3></div>
                  
                  <li>Inglés</li><div class="row"><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3><h3 class="icon fa-circle"><span class="label"></span></h3></div>
                </div>
            </section>

      <section id="six">
        <h2>Contáctame:</h2>
        <p>Envíame un mensaje para que pueda contactar contigo lo antes posible!</p>
        <div class="row">
          <div class="col-8 col-12-small">
              <app-profile-editor></app-profile-editor>
              <ul class="actions">
                  <button class="button" type="submit" [disabled]="!profileForm.valid">Enviar</button>
            
                  <li><a href="#" class="button">Subir</a></li>
                </ul>
          </div>
          <div class="col-4 col-12-small">
            <ul class="labeled-icons">
              <li>
                <h3 class="icon fa-home"><span class="label">Dirección</span></h3>
                Georges Bernanos N51.<br />
                Palma, 07015<br />
                Baleares
              </li>
              <li>
                <h3 class="icon fa-mobile"><span class="label">Móvil</span></h3>
                626706702
              </li>
              <li>
                <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                <a href="#">miguel.roig.s@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
  </div>
  <div id="main"></div>
</html>